<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Profile</h2>
        <h3 class="section-subheading text-muted">This page allows you to view your user profile.</h3>
    </div>
</div>
<!-- Heading -->

<div class="panel panel-info">

    <!-- Default panel contents -->
    <div class="panel-heading" style="text-align: center;"><strong>User Profile</strong></div>

    <!-- Table -->
    <table class="table">
        <tr>
            <td><strong>Username</strong></td>
            <td><strong>Email Address</strong></td>
            <td><strong>Password</strong></td>
        </tr>
        <tr>
            <td>{{ main.username }}</td>
            <td>{{ main.useremail }}</td>
            <td>****************</td>
        </tr>
    </table>
</div>
