<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">User Registration</h2>
        <h3 class="section-subheading text-muted">Please enter your registration information.</h3>
    </div>
</div>
<!-- Heading -->

<!-- Main Section -->
<section id="contact">
    <!-- Start of Container -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form name="regForm" ng-submit="register.regUser(regData, regForm.$valid, confirmed);" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div ng-class="{ 'has-success':(regForm.firstName.$valid && !regForm.firstName.$pristine), 'has-error':(!regForm.firstName.$valid && !regForm.firstName.$pristine) || (!regForm.firstName.$valid && regForm.$submitted) }">
                                    <!-- First Name Input -->
                                    <label>First Name:</label>
                                    <input ng-disabled="register.disabled" class="form-control" type="text" name="firstName" placeholder="First Name *" ng-model="register.regData.firstName" ng-pattern="/^[a-zA-Z]+$/" ng-minlength="3" ng-maxlength="20" required>
                                    <!-- First Name Validation -->
                                    <p class="help-block" ng-show="(!regForm.firstName.$pristine && regForm.firstName.$error.required) || (regForm.$submitted && regForm.firstName.$error.required)">This field is required</p>
                                    <ul ng-show="(!regForm.firstName.$pristine && regForm.firstName.$error.pattern) || (!regForm.firstName.$pristine && regForm.firstName.$error.minlength) || (!regForm.firstName.$pristine && regForm.firstName.$error.maxlength)" class="help-block">
                                        <li>Must have a space in between first and last firstName</li>
                                        <li>Must not contain any special characters</li>
                                        <li>Must not contain any numbers</li>
                                        <li>Must be at least 3 characters but no more than 20</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div ng-class="{ 'has-success':(regForm.lastName.$valid && !regForm.lastName.$pristine), 'has-error':(!regForm.lastName.$valid && !regForm.lastName.$pristine) || (!regForm.lastName.$valid && regForm.$submitted) }">
                                    <!-- Last Name Input -->
                                    <label>Last Name:</label>
                                    <input ng-disabled="register.disabled" class="form-control" type="text" name="lastName" placeholder="Last Name *" ng-model="register.regData.lastName" ng-pattern="/^[a-zA-Z]+$/" ng-minlength="3" ng-maxlength="20" required>
                                    <!-- Last Name Validation -->
                                    <p class="help-block" ng-show="(!regForm.lastName.$pristine && regForm.lastName.$error.required) || (regForm.$submitted && regForm.lastName.$error.required)">This field is required</p>
                                    <ul ng-show="(!regForm.lastName.$pristine && regForm.lastName.$error.pattern) || (!regForm.lastName.$pristine && regForm.lastName.$error.minlength) || (!regForm.lastName.$pristine && regForm.lastName.$error.maxlength)" class="help-block">
                                        <li>Must have a space in between first and last lastName</li>
                                        <li>Must not contain any special characters</li>
                                        <li>Must not contain any numbers</li>
                                        <li>Must be at least 3 characters but no more than 20</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- Email Div -->
                                <div ng-class="{ 'has-success':(regForm.email.$valid && !regForm.email.$pristine && !register.emailInvalid), 'has-error':(!regForm.email.$valid && !regForm.email.$pristine) || (!regForm.email.$valid && regForm.$submitted) || register.emailInvalid }">
                                    <!-- Email Input -->
                                    <label>Email:</label>
                                    <input ng-disabled="register.disabled" class="form-control" type="text" name="email" placeholder="E-mail *" ng-model="register.regData.email" ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$/" ng-blur="register.checkEmail(regData);" required>
                                    <!-- Email Validation -->
                                    <p class="help-block" ng-show="(!regForm.email.$pristine && regForm.email.$error.required) || (regForm.$submitted && regForm.email.$error.required)">This field is required</p>
                                    <span ng-show="register.checkingEmail && regForm.email.$valid" class="glyphicon glyphicon-repeat"></span>
                                    <p class="help-block" ng-show="register.emailMsg && !regForm.email.$error.required && regForm.email.$valid">{{ register.emailMsg }}</p>
                                    <ul ng-show="(!regForm.email.$pristine && regForm.email.$error.pattern) || (!regForm.email.$pristine && regForm.email.$error.minlength) || (!regForm.email.$pristine && regForm.email.$error.maxlength)" class="help-block">
                                        <li>Must contain "@"</li>
                                        <li>Must not contain any special characters</li>
                                        <li>Must be at least 3 characters but no more than 25</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- Username Div -->
                                <div ng-class="{ 'has-success':(regForm.username.$valid && !regForm.username.$pristine && !register.usernameInvalid), 'has-error':(!regForm.username.$valid && !regForm.username.$pristine) || (!regForm.username.$valid && regForm.$submitted) || register.usernameInvalid }">
                                    <!-- Username Input -->
                                    <label>Username:</label>
                                    <input ng-disabled="register.disabled" class="form-control" type="text" name="username" placeholder="Username *" ng-model="register.regData.username" ng-minlength="3" ng-maxlength="25" ng-pattern="/^(?!.*?[\W])(?=.*?[a-zA-Z]|=.*?[A-Z]).{3,16}$/" ng-blur="register.checkUsername(regData);" required>
                                    <!-- Username Validation -->
                                    <p class="help-block" ng-show="(!regForm.username.$pristine && regForm.username.$error.required) || (regForm.$submitted && regForm.username.$error.required)">This field is required</p>
                                    <span ng-show="register.checkingUsername && regForm.username.$valid" class="glyphicon glyphicon-repeat"></span>
                                    <p class="help-block" ng-show="register.usernameMsg && !regForm.username.$error.required && regForm.username.$valid">{{ register.usernameMsg }}</p>
                                    <ul ng-show="(!regForm.username.$pristine && regForm.username.$error.pattern) || (!regForm.username.$pristine && regForm.username.$error.minlength) || (!regForm.username.$pristine && regForm.username.$error.maxlength)" class="help-block">
                                        <li>Must not contain any special characters or spaces</li>
                                        <li>Must be at least 3 characters but no more than 25</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- Password Div -->
                                <div ng-class="{ 'has-success':(regForm.firstPassword.$valid && !regForm.firstPassword.$pristine), 'has-error':(!regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) || (!regForm.firstPassword.$valid && regForm.$submitted) }">
                                    <!-- Password Input -->
                                    <label>Password:</label>
                                    <input ng-disabled="register.disabled" class="form-control" type="password" name="firstPassword" placeholder="Password *" ng-model="firstPassword" ng-minlength="8" ng-maxlength="35" ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,35}$/" required>
                                    <!-- Password Validation -->
                                    <p class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required)">This field is required</p>
                                    <ul ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength)" class="help-block">
                                        <li>Must contain at least one upper case letter</li>
                                        <li>Must contain at least one lower case letter</li>
                                        <li>Must contain at least one number</li>
                                        <li>Must contain at least one special character</li>
                                        <li>Must contain at least 8 characters but no more than 35</li>
                                    </ul>
                                </div>
                                <!-- Password Div -->
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- Confirm Password Div -->
                                <div ng-class="{ 'has-success':confirmed && !regForm.confirmPassword.$error.required, 'has-error':(!confirmed && !regForm.confirmPassword.$error.required) || (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine) || (regForm.$submitted && regForm.confirmPassword.$error.required) }">
                                    <!-- Confirm Password Input -->
                                    <label>Confirm Password:</label>
                                    <input ng-disabled="register.disabled" class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password *" match="{{[firstPassword]}}" ng-change="register.regData.password = confirm" ng-model="confirm" required>
                                    <!-- Confirm Password Validation -->
                                    <p class="help-block" ng-show="(!regForm.confirmPassword.$pristine && regForm.confirmPassword.$error.required) || (regForm.$submitted && regForm.confirmPassword.$error.required)">This field is required</p>
                                    <p class="help-block" ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstPassword.$valid">Passwords do not match</p>
                                </div>
                                <!-- Confirm Password Div -->
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-left">
                            <div id="success"></div>
                            <!-- Login Button -->
                            <button type="submit" ng-disabled="register.disabled" class="btn btn-xl">Register</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>

        <br>

        <!-- Loading Icon (Bootstrap) -->
        <div class="jumbotron text-center" ng-show="register.loading">
            <span class="glyphicon glyphicon-repeat spinner"></span>
            <p>Loading....</p>
        </div>
        <!-- Loading Icon (Bootstrap) -->

        <!-- Custom Messages -->
        <div class="row show-hide-message" ng-show="register.successMsg || register.errorMsg">
            <div ng-class="alert">{{ register.successMsg || register.errorMsg }}</div>
        </div>
        <!-- Custom Messages -->

    </div>
    <!-- End of Container -->
</section>
<!-- Main Section /-->
